{
  "root": true,
  "env": {
    "es2021": true
  },
  "extends": [
    "plugin:vue/recommended",
    "eslint:recommended"
  ],
  "rules": {
    "indent": [
      "warn",
      4
    ],
    "no-mixed-spaces-and-tabs": "error",
    "no-tabs": "off",
    "vue/html-indent": [
      "warn",
      2
    ]
  }
}